[Desktop Entry]
Type=Application
Terminal=true
Name=Thunderbird-Docker
Icon=/usr/share/icons/docker/thunderbird.jpg
Exec=/usr/local/bin/startthunderbird.sh
